body{
    margin: 0;
    background-color: #06BCD4;
}
.container{
    margin: 120px auto 0;
    background-color: #06BCD4;
    width: 57%;
    height: 28vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.flex{
    height: 120px;
    width: 410px;
    border-radius: 6px;

    background-color: #FEFEFE;
    display: flex;
}
i{
    margin: 40px;
    font-size: 40px;
    color: #a6a6a6;
}
h3{
    margin-bottom: 0;
    color: #FD9835;
}
p{
    margin: 8px 18px 10px 0;
    font-size: 12px;
}
.block{
    display: block;
}